---
import Layout from '../layouts/Layout.astro';
import {PhoneOutgoingIcon, WhatsappLogoIcon, EnvelopeIcon} from '@phosphor-icons/react';

// Import all sections
const heroContent = await import('../content/sections/hero.md');
const aboutContent = await import('../content/sections/about.md');
const coachingContent = await import ('../content/sections/coaching.md');
const methodsContent = await import('../content/sections/methods.md');
const contactContent = await import('../content/sections/contact.md');

const hero = heroContent.frontmatter;
const about = aboutContent.frontmatter;
const coaching = coachingContent.frontmatter;
const methods = methodsContent.frontmatter;
const contact = contactContent.frontmatter;
---

<Layout title={hero.title}>
  <!-- Hero Section -->
  <section id="hero" class="hero-section">
    <div class="hero-title">
			<h1>{hero.title}</h1>
			<div>
				<h2>{hero.subtitle}</h2>
				<hr>
				<p>{hero.description}</p>
				<a
					class="cta-button hero"
					href={hero.cta}
					target="_blank"
				>
					{hero.ctaText}
				</a>
			</div>
		</div>
		<div class="background-cover-image"
			style={hero.background_image ? `background-image: url(${hero.background_image})`  : ''}
		>
		</div>

  </section>

  <!-- About Section -->
  <section id="about" class="about-section">
		<div class="about-title">
    	<h2>{about.title}</h2>
			<hr>
			<aboutContent.Content />
		</div>
		<div class="about-image"
			style={about.image ? `background-image: url(${about.image})`  : ''}
		>
  </section>

	<!-- Coaching Section -->
  <section id="coaching" class="coaching-section"
	 style={coaching.image ? `background-image: url(${coaching.image})`  : ''}
	>
		<div class="coaching-content">
			<coachingContent.Content />
		</div>
  </section>

	<!-- Methods Section -->
  <section id="methods" class="methods-section">
		<div class="method-part">
			<div class="methods-image"
			 style={methods.imageOne ? `background-image: url(${methods.imageOne})`  : ''}
			>
			</div>
			<h3>{methods.titleOne}</h3>
			<p>{methods.textOne}</p>
		</div>
		<div class="method-part">
			<div class="methods-image"
			 style={methods.imageTwo ? `background-image: url(${methods.imageTwo})`  : ''}
			>
			</div>
			<h3>{methods.titleTwo}</h3>
			<p>{methods.textTwo}</p>
		</div>
		<div class="method-part">
			<div class="methods-image"
			 style={methods.imageThree ? `background-image: url(${methods.imageThree})`  : ''}
			>
			</div>
			<h3>{methods.titleThree}</h3>
			<p>{methods.textThree}</p>
		</div>
  </section>

	<!-- Contact Section -->
  <section id="contact" class="contact-section">
		<h2>{contact.title}</h2>
		<hr>
		<div class="contact-content">
			<div>
				<a href="tel:{contact.phone}">
					<PhoneOutgoingIcon size={32} />
					{contact.phoneString}
				</a>
			</div>
			<div>
				<a href="tel:{contact.phone}">
					<WhatsappLogoIcon size={32} />
					{contact.phoneString}
				</a>
			</div>
			<div>
				<a href="mailto:{contact.email}">
					<EnvelopeIcon size={32} />
					{contact.email}
				</a>
			</div>
		</div>
		<a
			class="cta-button"
			href={contact.cta}
			target="_blank"
		>
			{contact.ctaText}
		</a>
  </section>
</Layout>

<style>
	.hero-section {
		background: #1b262c;
		display: flex;
	}

	.hero-title {
		color: rgb(249, 244, 218);
		padding: 20px 50px;
		width: 28%;
		z-index: 2;
	}

	h1 {
		font-size: 54px;
		color: rgb(249, 244, 218);
		white-space: nowrap;
		margin-bottom: 30px;
	}

	.hero-title h2, .about-title h2 {
		font-size: 42px;
		white-space: nowrap;
	}

	.hero-title hr, .about-title hr {
		height: 6px;
		background: #4682b4;
		border: #4682b4;
		margin: 20px 85px 20px 0;
	}

	.hero-title div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 85%;
	}

	.background-cover-image {
		width: 72%;
		background-size: cover;
		background-position: 40% center;
		background-repeat: no-repeat;
		min-height: 500px;
	}

	.about-section, .methods-section {
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		gap: 10px;
		background-color: #1c3549;
		color: rgb(249, 244, 218);
		padding: 70px 50px;
	}

	.about-title {
		width: 50%;
	}

	.about-image {
		width: 50%;
		background-size: cover;
		background-position: 40% center;
		background-repeat: no-repeat;
	}

.coaching-section {
	position: relative;
	padding: 50px;
	background-size: cover;
	background-position: 40% center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	min-height: 50vh;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	min-height: 70vh;
}

.coaching-section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 50%, transparent 100%);
	z-index: 1;
}

.coaching-content {
	position: relative;
	z-index: 2;
	max-width: 460px;
	color: rgb(249, 244, 218);
}

.method-part {
	text-align: center;
	width: 31%;
}

.method-part h3 {
	margin-bottom: 10px;
}

.methods-image {
	background-size: cover;
	background-position: 40% center;
	background-repeat: no-repeat;
	height: 128px;
	width: 128px;
	border-radius: 50%;
	margin: auto;
	margin-bottom: 25px;
	transition: 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.methods-image:hover {
	transform: scale(1.1);
}

.contact-section {
	padding: 70px 20px 50px 20px;
	background-color: #1b262c;
	min-height: 60vh;
}

.contact-section h2 {
	font-size: 36px;
	text-align: center;
	color: rgb(249, 244, 218);
}

.contact-section hr {
	height: 6px;
	background: #4682b4;
	border: #4682b4;
	width: 30%;
	margin: 25px auto;
}

.contact-content {
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
	max-width: 700px;
	margin: auto;
}

.contact-content div a {
	display: flex;
	align-items: center;
	gap: 5px;
	color: rgb(249, 244, 218);
	text-decoration: none;
	margin-bottom: 10px;
	padding: 5px 10px;
	border-bottom: 2px solid transparent;
	transition: 200ms cubic-bezier(0.25, 0.1, 0.25, 1);
}

.contact-content div a:hover {
	border-bottom: 2px solid #4682b4;
	transform: scale(1.1);
}

.cta-button {
	background: #4682b4;
	border: solid 2px transparent;
	padding: 10px 10px;
	color: rgb(249, 244, 218);
	text-decoration: none;
	display: block;
	margin: 20px auto;
	width: fit-content;
	border-radius: 5px;
	display: flex;
	align-items: center;
	gap: 5px;
	transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.cta-button:hover {
	background: #23435e;
	border: solid 2px rgb(249, 244, 218);
}

.cta-button.hero {
	margin: 40px 0;
}

	@media (max-width: 768px) {
		.hero-section {
			min-height: 100vh;
		}

		.hero-title {
			width: 90%;
			padding: 20px;
		}

		.hero-title h1 {
			font-size: 44px;
		}

		.hero-title h2, .about-title h2 {
			font-size: 36px;
			white-space: normal;
		}

		.background-cover-image {
			position: absolute;
			right: 0;
			top: 0;
			width: 66%;
			height: 100%;
			min-height: 100vh;
		}

		.about-section {
			padding: 0 0 0 20px;
		}

		.about-title {
			padding: 40px 10px;
			width: 90%;
		}

		.about-image {
			min-height: 60vh;
		}

		.coaching-section::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background: linear-gradient(to right, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%, transparent 100%);
			z-index: 1;
		}

		.methods-section {
			flex-wrap: wrap;
		}

		.method-part {
			width: 100%;
			margin-bottom: 40px;
		}

		.contact-content {
			justify-content: center;
		}
	}


</style>